@{
    ViewBag.Title = "View";
    Layout = null;
    <!--Qr code scanner-->

}
<!DOCTYPE html>
<html ng-app="qrScannerApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="~/admin_assets/images/comapanylogo.jpg" type="image/x-icon" />
    <title>QR Code Scanner</title>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" href="~/admin_assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="admin_assets/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="admin_assets/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/admin_assets/css/main.css" />
    <link rel="stylesheet" href="~/admin_assets/css/theme1.css" />
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        :root {
            --primary-color: rgb(21, 19, 133);
        }

        #start-scan-btn {
            background-color: var(--primary-color);
            color: white;
            padding: 10px 27px 10px 27px;
            border-radius: 20px;
        }
    </style>


</head>
<body ng-controller="qrScannerController" style="background-color: #445469;">

    <div class="container vh-100  " style="background-color: #ffffff;">
        <div class="row">
            <div class="col mt-5">
                <h1 class="text-center fs-2">The Inspection Pro</h1>
                <p class="text-center p-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iure.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                @*<h1 class="text-center">QR Code Scanner</h1>*@
                <div id="video-container" class="d-flex justify-content-center">
                    <video id="video" playsinline></video>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="text-center mt-2">
                    <button id="start-scan-btn" class="btn" ng-click="startScanning()">Scan QR Code</button>
                </div>
            </div>
            <div class="col">
                <div class="text-center mt-2">
                    <button id="start-scan-btn" class="btn" ng-click="switchCamera()">Switch Camera</button>
                </div>
            </div>
        </div>
        @*<div class="text-center mt-2">
            <button id="start-scan-btn" class="btn p-2" ng-click="startScanning()">Next</button>
        </div>*@

        @Html.Partial("~/Views/Shared/PartialViewModalsValidation.cshtml")
    </div>



    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/ControllerScripts/qrScannerController.js"></script>
    @*<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>*@
    <script src="~/Scripts/scanner.js"></script>
    <script src="~/admin_assets/bundles/lib.vendor.bundle.js"></script>

</body>
</html>

